<div style="margin: 0 16px">
  <div class="banner">
    <img
      class="banner-img"
      srcset="
        ./assets/img/banner-1024.jpg 1024w,
        ./assets/img/banner-512.jpg   512w
      "
      sizes="(max-width: 600px) 512px, 1024px"
    />
  </div>
  <article>
    <h2>Welcome</h2>
    <h3>
      Le tradizioni della linguistica antica: testi e contesti degli studi
      grammaticali nel mondo romano
    </h3>
    <p>Welcome to the project editing dashboard.</p>
    <p>You can use this dashboard to edit the TGR database.</p>
    <p>The Cadmus TGR editor online resources are:</p>
    <ul>
      <li>
        <a href="https://github.com/vedph/cadmus_tgr_doc" target="_blank"
          >documentation</a
        >
      </li>
      <li>
        <a href="https://github.com/vedph/cadmus_tgr" target="_blank">core</a>:
        models specific to the TGR project.
      </li>
      <li>
        <a href="https://github.com/vedph/cadmus_tgr_api" target="_blank"
          >web API</a
        >: the TGR web API, powering this application.
      </li>
      <li>
        <a href="https://github.com/vedph/cadmus_tgr_app" target="_blank"
          >web app</a
        >: this web application.
      </li>
    </ul>
    <p *ngIf="!logged" style="margin-bottom: 8px">
      <a mat-mini-fab color="primary" routerLink="/login"
        ><mat-icon>login</mat-icon></a
      ><span style="margin-left: 8px">please login</span>
    </p>
  </article>
</div>
