#banner {
  height: 258px;
  background-image: url("/assets/img/banner.png");
  background-size: cover;
  margin-bottom: 16px;
}
#banner h1 {
  position: relative;
  padding-top: 60px;
  width: auto;
  text-align: center;
  font-size: 100px;
  font-weight: normal;
  letter-spacing: -5px;
  color: #ac7666;
}
article {
  column-width: 600px;
}
